<ul class="nav-links list-unstyled mb-0">
    <li><a class="nav-link" asp-page="/Index">Home</a></li>
    <li><a class="nav-link" asp-page="/Blogs/Index">Články</a></li>
    <li><a class="nav-link" asp-page="/Contact">Kontakt</a></li>
</ul>
